.enlacesmenu{text-decoration: none; color: grey;margin-left: 15px;}
.textocaja{color: white; font-family: initial;margin-top: 50px;}
.textocaja2{color: white; font-family: initial; margin-top: 50px;}
.cuevita{height: 300px;margin-top: 20px;}
.textnav{text-decoration: none; margin-left: 10px;}
.inputs{width: 700px; background-color: grey;}
.inputst{width: 700px; background-color: grey; height: 100px;}
.boton{background-color: grey;}
.