.enlacesmenu{text-decoration: none; color: grey;margin-left: 15px;}
.textnav{text-decoration: none; margin-left: 10px;}
.demons{width: 350px;height: 300px;margin-right: 30px; margin-top: 50px; margin-left: 50px;}
.blood{width: 500px;height: 300px;margin-left: 30px; margin-top: 50px;}
.sekiro{width: 600px;height: 300px; margin-top: 50px;}
.descripcion{color: white; text-align: center; margin-top: 100px;}