.introduccion{color: white; text-align: center}
.logo{font-family: fantasy; color: grey; font-size: 30px;}
.enlacesmenu{text-decoration: none; color: grey;}
.titulos{font-size: 40px; color: darkred;text-align: center;padding-top: 20px;font-family: initial;}
.imagenes{width: 400px; height: 300px; margin-left: 100px;}
.parrafo{color: grey; text-align: center;margin-left: 10px;margin-botton: 200px;}
.objetos{width: 100px;height: 100px;margin-left: 375px;}
.textoobjetos{text-align: center; margin-left: 20px;color: white;margin-top: 10px;}
.imagenesder{width: 400px; height: 300px; margin-left: 100px; margin-right: 100px;}
.objetoss{width: 100px;height: 100px;margin-left: 425px;}
.textoobjetoss{text-align: center; margin-right: 10px;color: white;margin-top: 10px;}
.titulon{font-size: 30px;text-align: center; color: lightgrey; font-family: initial;}
.titulose{font-size: 30px;text-align: center; color: lightblue; font-family: initial;margin-top: 100px;}
.titulol{font-size: 30px;text-align: center; color: darkorange; font-family: initial;margin-top: 100px;}
.textoobjetol{text-align: center; margin-left: 35px;color: white;margin-top: 10px;}
.objetol{width: 100px;height: 100px;margin-left: 500px;}
.titulor{font-size: 30px;text-align: center; color: darkgrey; font-family: initial;margin-top: 100px;}
.titulop{font-size: 30px;text-align: center; color: brown; font-family: initial;margin-top: 100px;}
.objetop{width: 75px;height: 150px;margin-left: 500px;}
.caballero{width: 250px;height: 250px;}
.titulof{font-size: 30px;text-align: center; color: purple; font-family: initial;margin-top: 100px;}
.objetof{width: 100px;height: 100px;margin-left: 450px;}
.textoobjetosf{text-align: center; margin-left: 35px;color: white;margin-top: 10px;}
.objetopo{width: 75px;height: 150px;margin-left: 460px;}
.parrafop{color: grey; text-align: center;margin-right: 50px;margin-botton: 200px;}
.titulov{font-size: 30px;text-align: center; color: grey; font-family: initial;margin-top: 100px;}
.imagenvig{width: 500px;}
.imagenyhorm{height: 400px;}
.cenizagig{margin-left: 440px;}
.objetosv{margin-left: 440px;}
.aldrich{width: 500px;}
.objetoa{width: 100px;height: 100px;margin-left: 430px;}
.principe{width: 500px;}
.objetosp{width: 100px;height: 100px;margin-left: 400px;}
.textoobjetosp{text-align: center; margin-left: 50px;color: white;margin-top: 10px;}
.enlacesmenuc{text-decoration: none; color: grey;margin-left: 15px;}